TZ=America/Sao_Paulo

DATABASE_NAME=transporte
DATABASE_USERNAME=transporte
DATABASE_PASSWORD=
DATABASE_HOSTNAME=db
DATABASE_PORT=5432

# Gerar DJANGO_SECRET_KEY com o seguinte comando:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=
DJANGO_DEBUG=FALSE
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://localhost,https://127.0.0.1
